<div class="live">
  <!-- 头部 video -->
  <div class="liveHead">
    <div>
      <video controls="controls" loop="loop" style="width: 100%">
        <source src="https://msrv.sumec.com/dtx-api/customer/file/e2a4848dda56/sumecdtx.mp4" type="video/mp4" />
      </video>
    </div>
    <!-- <div class="black_bg">
      <div class="textBox">进入直播间</div>
    </div> -->
  </div>
  <!-- tab内容区域 -->
  <div class="liveMain">
    <nz-tabset nzCentered [(nzSelectedIndex)]="selectedTab">
      <nz-tab [nzTitle]="lives.time" *ngFor="let lives of tabList">
        <div class="liveList">
          <div *ngFor="let item of lives.lives" class="livItem" (click)="toDetail(item.platformRoomNo)">
            <div class="liveRoom">
              <div class="roomBanner">
                <img [src]="item.roomBanner" alt="" class="img" />
              </div>
              <div class="roomText">
                <div class="ellipsisShow">{{ item.content }}</div>
                <div class="ellipsisShow">
                  <img class="logo" [src]="item.relationOrgLogo" alt="logo" />
                  <span class="text ellipsisShow">{{ item.relationOrgName }}</span>
                </div>
                <div class="mobileBtns">
                  <div class="ellipsisShow textM">{{ item.startTimeStr }}</div>
                  <div class="btn3M">{{ 'subscribe' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="liveInfo">
              <div class="btns">
                <div [class]="item.isLiving == 1 ? 'btn1 isLiving' : 'btn1 '">
                  <span *ngIf="item.isLiving == 1; else elseBlock">{{ 'living' | translate }}</span>
                  <ng-template #elseBlock>
                    <span>{{ 'live_bord' | translate }}</span>
                  </ng-template>
                </div>
                <div class="btn2" *ngIf="item.relationType == 2">{{ 'play_back' | translate }}</div>
              </div>
              <div class="textBox">
                <div class="textF ellipsisShow">{{ item.roomTitle }}</div>
                <div class="textF ellipsisShow">{{ item.startTimeStr }}</div>
                <div class="btn3">{{ 'subscribe' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <app-footer-description>
    <div>
      <div>{{ 'gkxz' | translate }}：</div>
      <div class="textIndent">{{ 'yzbtb1' | translate }}</div>
      <div class="textIndent">{{ 'yzbtb2' | translate }} <span class="redText">T-world@sumec.com.cn</span>。</div>
    </div>
  </app-footer-description>
</div>
