.footer {
  height: 0.48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.1022rem;
  color: #fff;
  font-weight: 400;
  padding-top: 0.1533rem;
  padding-bottom: 0.1825rem;
  background: #242424;
  border-bottom: #fff 1px solid;
}
