<header>
  <div *ngIf="screenWidth > 959; else elseBlock">
    <div class="pcMain">
      <div class="pcBox">
        <div class="leftBox">
          <img class="logoImg" [src]="headerObj.dynamicConfigures.exhibition_meet_head_logo.value" alt="" />
          <ul class="menusList">
            <li *ngFor="let item of headerObj.menuResList">
              <!-- <a [routerLink]="item.menuRoute | customize : item.openType"></a> -->
              <button
                nz-button
                nzType="text"
                [ngClass]="['menusItem', routeUrl === item.menuRoute ? 'selected' : '']"
                (click)="switchRoute(item.menuRoute, item.openType)"
              >
                {{ item.menuNo | translate }}
              </button>
            </li>
          </ul>
        </div>
        <div class="rightBox">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" [(ngModel)]="searchKey" nz-input [placeholder]="'show_more' | translate" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
          <button nz-button nzType="text" class="textMl" (click)="changeLanguage()">{{ 'lang' | translate }}</button>
          <button nz-button nzType="text" class="textMl" (click)="toLogin()">{{ 'login' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="mobileMain">
      <div class="mainItem">
        <img [src]="'../../../assets/' + lang + '.svg'" alt="logo" class="enImg" (click)="changeLanguage()" />
      </div>
      <div class="mainItem displayCenter">
        <img
          src="https://cdn.sumecdtx.com/exhibition/2023/02/27/9497b53fcc9943d6adf527ff2b583dea"
          alt="logo"
          class="logoImg"
        />
      </div>
      <div class="mainItem" style="text-align: right">
        <!-- <img
          src="https://cdn.sumecdtx.com/dtx_exhibition/assets/index/mobileSearchIcon.png"
          alt="logo"
          class="iconImg"
        /> -->
        <img
          (click)="switchMenu()"
          src="https://cdn.sumecdtx.com/dtx_exhibition/assets/index/mobileMenuIcon.png"
          alt="logo"
          class="iconImg"
        />
      </div>
    </div>
    <app-menu-mobile [(visible)]="visible"></app-menu-mobile>
  </ng-template>
</header>
