.sideBoxs {
  position: fixed;
  bottom: 4rem;
  right: 0.04rem;
  z-index: 999;
  .sideList {
    .icon {
      width: 0.8rem;
      height: 0.817rem;
    }
  }
  .iconM {
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 0.4rem;
  }
}
@media screen and (max-width: 960px) {
  .sideBoxs {
    .iconM {
      width: 1.2rem;
      height: 1.2rem;
      margin-bottom: 0.4rem;
    }
  }
}
@media screen and (max-width: 750px) {
  .sideBoxs {
    .iconM {
      width: 1.4rem;
      height: 1.4rem;
      margin-bottom: 0.4rem;
    }
  }
}
@media screen and (max-width: 500px) {
  .sideBoxs {
    .iconM {
      width: 1.8rem;
      height: 1.8rem;
      margin-bottom: 0.4rem;
    }
  }
}
