<div>
  <div class="tabBox">
    <nz-tabset nzCentered [(nzSelectedIndex)]="selectedTab">
      <nz-tab [nzTitle]="'brand_show' | translate">
        <div class="brand">
          <ul class="list">
            <li *ngFor="let item of storeList" class="item" (click)="toDetail(item.brandName)">
              <img [src]="item.banner" alt="banner" class="bannerImg" />
              <div class="mainStyle">
                <div class="title ellipsisShow">
                  <img [src]="item.logoUrl ? item.logoUrl : '../../../assets/nodata.svg'" alt="logo" class="logoUrl" />
                  {{ item.brandName }}
                </div>
                <div class="countryStyle flexCenter">
                  <span class="lineH4">{{ item.countryName }}</span>
                  <img
                    *ngIf="item.offlineDesc && item.offlineDesc > 0"
                    src="https://cdn.sumecdtx.com/dtx_exhibition/assets/product_detail/addressIcon.png"
                    alt=""
                    class="addressIcon"
                  />
                  <span class="addressP">{{ item.offlineDesc }}</span>
                </div>
                <div class="btnBox">
                  <div class="btnStyle">{{ 'into_live' | translate }}</div>
                  <div class="btnStyle">{{ 'into_negotiate' | translate }}</div>
                </div>
              </div>
              <img
                class="zanIconBrand"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
                alt="logo"
              />
            </li>
          </ul></div
      ></nz-tab>
      <nz-tab [nzTitle]="'exhibitor' | translate">
        <div class="brand">
          <ul class="list">
            <li *ngFor="let item of brandList" class="item" (click)="toDetail(item.storeName)">
              <img [src]="item.banner" alt="banner" class="bannerImg" />
              <div class="mainStyle">
                <div class="title ellipsisShow">
                  <img [src]="item.logoUrl ? item.logoUrl : '../../../assets/nodata.svg'" alt="logo" class="logoUrl" />
                  {{ item.storeName }}
                </div>
                <div class="countryStyle">{{ item.countryName }}</div>
                <div class="subTitle ellipsisShow">{{ item.mainProducts }}</div>
                <div class="btnBox">
                  <div class="btnStyle">{{ 'into_live' | translate }}</div>
                  <div class="btnStyle">{{ 'into_negotiate' | translate }}</div>
                </div>
              </div>
              <img
                class="zanIconBrand"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
                alt="logo"
              />
            </li>
          </ul>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'product' | translate">
        <div class="hotProducts">
          <ul class="list">
            <li *ngFor="let item of hotProductsList" class="item" (click)="toDetail(item.brandName)">
              <div class="itemMain">
                <img class="itemImg" [src]="item.headImg" alt="logo" />
                <div class="itemLeft">
                  <div class="tetx1 ellipsisShow">
                    <img
                      class="icon"
                      src="https://cdn.sumecdtx.com/dtx_exhibition/assets/storeProducts/onlive.gif"
                      alt="logo"
                    />{{ item.productName }}
                  </div>
                  <div class="tetx2 ellipsisShow">
                    <img class="storeIcon" [src]="item.storeLogo" alt="logo" />{{ item.storeName }}
                  </div>
                  <div class="ellipsisShow mb">国别：{{ item.countryName }}</div>
                  <div class="ellipsisShow">品牌名称：{{ item.brandName }}</div>
                </div>
              </div>
              <img
                class="zanIcon"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
                alt="logo"
              />
            </li>
          </ul>
        </div>
      </nz-tab>
    </nz-tabset>
    <div class="toMore" (click)="toMore()">{{ 'click_more' | translate }}</div>
    <div class="flexCenter2">
      <nz-pagination
        [(nzPageIndex)]="current"
        [nzTotal]="total"
        [nzSize]="'small'"
        [nzShowTotal]="totalTemplate"
      ></nz-pagination>
      <ng-template #totalTemplate let-total>共 {{ total }} 条 </ng-template>
    </div>
  </div>
  <app-footer-description>
    <div>
      <div class="textIndent">{{ 'tpts' | translate }}：</div>
      <div class="textIndent">
        {{ 'yzbtpts' | translate }}
        <span class="redText">T-world@sumec.com.cn</span>。
      </div>
    </div>
  </app-footer-description>
</div>
