<div>
  <div class="tabBox">
    <nz-tabset nzCentered [(nzSelectedIndex)]="selectedTab">
      <nz-tab nzTitle="品牌">
        <div class="brand">
          <ul class="list">
            <li *ngFor="let item of storeList" class="item">
              <img [src]="item.banner" alt="banner" class="bannerImg" />
              <div class="mainStyle">
                <div class="title ellipsisShow">{{ item.brandName }}</div>
                <div class="countryStyle flexCenter">
                  <span class="lineH4">{{ item.countryName }}</span>
                  <img
                    *ngIf="item.offlineDesc && item.offlineDesc > 0"
                    src="https://cdn.sumecdtx.com/dtx_exhibition/assets/product_detail/addressIcon.png"
                    alt=""
                    class="addressIcon"
                  />
                  <span class="addressP">{{ item.offlineDesc }}</span>
                </div>
                <div class="btnBox">
                  <div class="btnStyle">进入直播间</div>
                  <div class="btnStyle">进入洽谈室</div>
                </div>
              </div>
              <img
                class="zanIcon"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
                alt="logo"
              />
            </li>
          </ul></div
      ></nz-tab>
      <nz-tab nzTitle="展商">
        <div class="brand">
          <ul class="list">
            <li *ngFor="let item of brandList" class="item">
              <img [src]="item.banner" alt="banner" class="bannerImg" />
              <div class="mainStyle">
                <div class="title ellipsisShow">{{ item.storeName }}</div>
                <div class="countryStyle">{{ item.countryName }}</div>
                <div class="subTitle ellipsisShow">{{ item.mainProducts }}</div>
                <div class="btnBox">
                  <div class="btnStyle">进入直播间</div>
                  <div class="btnStyle">进入洽谈室</div>
                </div>
              </div>
              <img
                class="zanIcon"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
                alt="logo"
              />
            </li>
          </ul>
        </div>
      </nz-tab>
      <nz-tab nzTitle="展品">
        <div class="hotProducts">
          <ul class="list">
            <li *ngFor="let item of hotProductsList" class="item">
              <div class="itemMain">
                <img class="itemImg" [src]="item.headImg" alt="logo" />
                <div class="itemLeft">
                  <div class="tetx1 ellipsisShow">
                    <img
                      class="icon"
                      src="https://cdn.sumecdtx.com/dtx_exhibition/assets/storeProducts/onlive.gif"
                      alt="logo"
                    />{{ item.productName }}
                  </div>
                  <div class="tetx2 ellipsisShow">
                    <img class="storeIcon" [src]="item.storeLogo" alt="logo" />{{ item.storeName }}
                  </div>
                  <div class="ellipsisShow mb">国别：{{ item.countryName }}</div>
                  <div class="ellipsisShow">品牌名称：{{ item.brandName }}</div>
                </div>
              </div>
              <img
                class="zanIcon"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
                alt="logo"
              />
            </li>
          </ul>
        </div>
      </nz-tab>
    </nz-tabset>
    <div class="flexCenter2">
      <nz-pagination
        [(nzPageIndex)]="current"
        [nzTotal]="total"
        [nzSize]="'small'"
        [nzShowTotal]="totalTemplate"
      ></nz-pagination>
      <ng-template #totalTemplate let-total>共 {{ total }} 条 </ng-template>
    </div>
  </div>
  <div class="noticeShow">
    <div>特别提示：</div>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      苏美达数字会展平台（以下简称会展平台）以非盈利目的免费发布展商展品信息，其中有关参展商及其产品或服务的信息，均由会展平台参展商提供并由其对相关内容的真实性、准确性及合法性负责，会展平台仅负责收集、整理并发布，对其中内容不承担法律责任，请您自行甄别。
      如您发现存在相关信息不真实、不准确或涉嫌违法违规的情况，请及时联系会展平台或相关行政主管部分进行举报，对于反映至会展平台的相关信息，我们将依照相关法律规定提醒相关单位整改。我们的联系方式：
      <span class="redText">T-world@sumec.com.cn</span>。
    </div>
  </div>
</div>
