.container {
  margin-top: 1.6rem;
  min-height: calc(100vh - 0.8rem - 0.48rem - 1.12rem);
}
@media screen and (max-width: 960px) {
  .container {
    margin-top: 1.6rem;
    min-height: calc(100vh - 0.8rem - 0.48rem - 1.52rem);
  }
}
@media screen and (min-width: 960px) {
  .container {
    min-height: calc(100vh - 0.8rem - 0.48rem);
    margin-top: 0.8rem;
  }
}
