<div class="exhibition">
  <img
    *ngIf="screenWidth > 960; else topImgM"
    class="topImg"
    [src]="headerObj.dynamicConfigures.exhibition_meet_index_banner.bannerImage"
    alt=""
  />
  <ng-template #topImgM>
    <img class="topImg" [src]="headerObj.dynamicConfigures.exhibition_meet_index_banner_mobile.bannerImage" alt="" />
  </ng-template>
  <div class="messageItem">
    <img class="icon" src="https://cdn.sumecdtx.com/dtx_exhibition/assets/index/indexMessage.png" alt="" />
    <span class="text">景气面继续扩大，2月份制造业PMI升至52.6%</span>
  </div>
  <!-- 品牌名录 -->
  <div class="content productAndStoreHead">
    <div class="moreBox" style="margin-bottom: 0.2rem">
      <div class="title">{{ 'brand_list' | translate }}</div>
      <div class="more" (click)="toNext('business-list-component', 0)">{{ 'show_more' | translate }}</div>
    </div>
    <div class="mobileUl">
      <ul *ngIf="screenWidth > 960; else elseBlock" class="list">
        <li *ngFor="let arr of storeList" class="item">
          <nz-carousel nzAutoPlay nzDotPosition="right" nzEffect="flip" [nzDots]="false">
            <div nz-carousel-content *ngFor="let item of arr" class="bgItem">
              <img [src]="item.logoUrl ? item.logoUrl : '../../../assets/nodata.svg'" alt="logo" />
              <div>
                <div class="text">{{ item.brandName }}</div>
                <div class="subText">{{ item.countryName }}</div>
              </div>
            </div>
          </nz-carousel>
        </li>
      </ul>
      <ng-template #elseBlock>
        <ul>
          <li *ngFor="let arr of storeListM" class="item">
            <ul class="list">
              <li *ngFor="let item of arr" class="item" [style]="'width:' + screenWidth / 2 + 'px'" class="bgItem">
                <img [src]="item.logoUrl ? item.logoUrl : '../../../assets/nodata.svg'" alt="logo" />
                <div>
                  <div class="text">{{ item.brandName }}</div>
                  <div class="subText">{{ item.countryName }}</div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <!-- 直播 -->
  <div class="content tv">
    <div class="moreBox">
      <div class="title">{{ 'live' | translate }}</div>
      <div class="more" (click)="toNext('live-list-component')">{{ 'show_more' | translate }}</div>
    </div>
    <div>
      <ul class="tvList">
        <li *ngFor="let item of tvList" class="tvItem" (click)="toDetail(item)">
          <div class="liveTag">
            <img src="https://cdn.sumecdtx.com/dtx_exhibition/assets/index/living.svg" class="liveTagImg" alt="" />
            <div class="num">{{ item.cumulativeViewersNum }}观看</div>
          </div>
          <img class="bannerImg" [src]="item.roomBanner" alt="banner" />
          <div class="textBox">
            <div class="text ellipsisShow">
              {{ item.content }}
            </div>
            <img src="https://cdn.sumecdtx.com/dtx_exhibition/assets/index/liveHot.svg" alt="" />
          </div>
          <div>
            <img class="icon" [src]="item.relationOrgLogo" alt="logo" />
            <span class="subText"> {{ item.relationOrgName }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- 热门商品 -->
  <div class="content hotProducts">
    <div class="moreBox">
      <div class="title">{{ 'hot_product' | translate }}</div>
      <div class="more" (click)="toNext('business-list-component', 2)">{{ 'show_more' | translate }}</div>
    </div>
    <ul class="list">
      <li *ngFor="let item of hotProductsList" class="item">
        <div class="itemMain">
          <img class="itemImg" [src]="item.headImg" alt="logo" />
          <div class="itemLeft">
            <div class="tetx1 ellipsisShow">
              <img
                class="icon"
                src="https://cdn.sumecdtx.com/dtx_exhibition/assets/storeProducts/onlive.gif"
                alt="logo"
              />{{ item.productName }}
            </div>
            <div class="tetx2 ellipsisShow">
              <img class="storeIcon" [src]="item.storeLogo" alt="logo" />{{ item.storeName }}
            </div>
            <div class="ellipsisShow mb">国别：{{ item.countryName }}</div>
            <div class="ellipsisShow">品牌名称：{{ item.brandName }}</div>
          </div>
        </div>
        <img
          class="zanIcon"
          src="https://cdn.sumecdtx.com/dtx_exhibition/assets/public/mobileNotFollowIcon.png"
          alt="logo"
        />
      </li>
    </ul>
  </div>
  <!-- brand -->
  <div class="content brand">
    <div class="moreBox">
      <div class="title">{{ 'exhibitor_list' | translate }}</div>
      <div class="more" (click)="toNext('business-list-component', 1)">{{ 'show_more' | translate }}</div>
    </div>
    <div class="despTitle">—— {{ 'no_order' | translate }} ——</div>
    <nz-carousel nzEffect="scrollx" [nzLoop]="false">
      <div nz-carousel-content *ngFor="let itemArr of brandList">
        <div class="carouselBox">
          <ul class="list" [style]="'width:' + ulWidth + 'rem'">
            <li *ngFor="let item of itemArr">
              <div class="brandImg">
                <img [src]="item.logoUrl" alt="logo" (click)="toDetail(item)" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>
